html {
	font-family: helvetica, courier, cursive;
}

#header {
	text-align: center;
	background-color:green;
}

#one {
	background-color:red;
}

#two {
	background-color:yellow;
}

#three {
	background-color:blue;
}